
<!-- <mat-card class="example-card">
    <mat-card-header>
     
      <mat-card-title style="margin-left:40px ;">{{x.vehicleName}}</mat-card-title>
      
    </mat-card-header>
    <app-image [image]="x?.image"></app-image>
    <mat-card-content>
      <h3 style="color:white ;">{{x.vehicleModel}}</h3>
    <span style="color:white ;">PRICE :₹{{x.vehiclePrice}}</span>
    </mat-card-content>
</mat-card> -->
<mat-card class="box">
    <mat-card-header>
      <mat-card-title>UPDATE</mat-card-title>
    </mat-card-header>
    <form class="example-form" [formGroup]="updateForm">
        <input matInput placeholder="Name" formControlName="Name">
      <mat-card-content>
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Price" formControlName="Price">
       
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Model" formControlName="Model">

        </mat-form-field>
      </mat-card-content>
      <button mat-stroked-button color="white" class="btn-block" (click)="update()">UPDATE</button>
      <button mat-stroked-button color="white" class="btn-block" (click)="delete()">DELETE</button>
 
    </form>
  </mat-card>