




<div fxLayout="row wrap" fxLayout.xs="column"  style="margin-left: 80px; margin-top: -30px;">

<mat-card class="example-card">
    
        <div class= "dashboard" fxFlex="17%" *ngIf="vehical.image!=null">
        <mat-card class="example-card">
          <mat-card-header>
           
            <mat-card-title style="margin-left:40px ;">{{vehical.vehicleName}}</mat-card-title>
            
          </mat-card-header>
          <!-- <app-image [image]="vehical.image">{{retrieveImage.image}}</app-image> -->
          <mat-card-content>
            <h3 style="color:white ;">{{vehical.vehicleModel}}</h3>
          <span style="color:white ;">PRICE :₹{{vehical.vehiclePrice}}</span>
          </mat-card-content>

        </mat-card>
        </div>
      </mat-card>
      </div>
 
