<html>
  <body>

  <style>
    body {
      background-image: url('./assets/bmw.jpg');
      background-size: 100% 100%;
    }
    </style>

<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center" style="margin-left: 80px; margin-top: -20px;">
    <mat-card class="box">
      <mat-card-header>
        <mat-card-title>Register</mat-card-title>
      </mat-card-header>
      <form class="example-form" [formGroup]="registerForm">
        <mat-card-content>
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Name" formControlName="Name" >
            <div *ngIf="registerForm.controls['Name'].hasError('required')">Name Cant be empty</div>
            <div *ngIf="registerForm.controls['Name'].hasError('minlength')">Name length should be more than 6</div>
            <div *ngIf="registerForm.controls['Name'].hasError('maxlength')">Name length should be less than 13</div>
          </mat-form-field>
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Phone Number" formControlName="PhoneNo">
            <div *ngIf="registerForm.controls['PhoneNo'].hasError('required')">PhoneNo Cant be empty</div>
            <div *ngIf="registerForm.controls['PhoneNo'].hasError('minlength')">PhoneNolength should be more than 10</div>
            <div *ngIf="registerForm.controls['PhoneNo'].hasError('maxlength')">PhoneNo length should be less than 12</div>
          </mat-form-field>
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Address" formControlName="Address">
            <div *ngIf="registerForm.controls['Address'].hasError('minlength')">Address is not correct </div>
          </mat-form-field>
        </mat-card-content>
        <button mat-stroked-button color="accent" class="btn-block" (click)="save()">Register</button>
        <a style="color:white;font-size: 15px;" routerLink="/login">Already registered? click to login!!!</a>
      </form>
    </mat-card>
  </div>
</body>
  </html>