
<html>
  <body>
    <style>
      body {
        background-image: url('./assets/bg.jpg');
       size: 100%;
      }
      </style>


<div fxLayout="row wrap" fxLayout.xs="column"  style="margin-left: 80px; margin-top: -30px;">
<div fxLayout="row wrap" fxLayout.xs="column" >
    <!-- <div class="dashboard"  > -->
      <mat-card-title style="margin-left:40px ;"></mat-card-title>
      <app-cart-comp *ngFor="let vehicleName of vehicleList" [vehicleName]="vehicleName" fxFlex="17%"></app-cart-comp>
    <!-- </div> -->
  </div>
  </div>
</body>
</html>
