<!-- <a href="./assets/bmw.jpeg">
  <img src="./assets/bmw.jpeg"  width="1600" height="1000">
</a> -->
<html>
  <body>

    <style>
      body {
        background-image: url('./assets/bmw.jpg');
        background-size: 100% 100%;
        
      }
      </style>
<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center" style="margin-left: 80px; margin-top: -20px;">


    <mat-card class="box">
      <mat-card-header>
        <mat-card-title>Log in</mat-card-title>
      </mat-card-header>
      <form class="example-form" [formGroup]="loginForm">
        <mat-card-content>
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Username" formControlName="Name">
            <div *ngIf="loginForm.controls['Name'].hasError('required')">UserName Cant be empty</div>
            <div *ngIf="loginForm.controls['Name'].hasError('minlength')">UserName length should be more than 5</div>
            <div *ngIf="loginForm.controls['Name'].hasError('maxlength')">UserName length should be less than 30</div>
          </mat-form-field>
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Password" formControlName="PhoneNo">
            <div *ngIf="loginForm.controls['PhoneNo'].hasError('required')">Password Cant be empty</div>
            <div *ngIf="loginForm.controls['PhoneNo'].hasError('minlength')">Password length should be more than 6</div>
            <div *ngIf="loginForm.controls['PhoneNo'].hasError('maxlength')">Password length should be less than 13</div>
          </mat-form-field>
        </mat-card-content>
        <button mat-stroked-button color="white" class="btn-block" (click)="save()">Log in</button>
        <a style="color:white;font-size: 15px;" routerLink="/registation">Not a user? click to register !!</a>
      </form>
    </mat-card>
    
  </div>
</body>
  </html>